.container {
    max-width: 80%;
    padding: 1rem;
}

.card {
    margin: 2rem auto;
    max-width: 420px;
}

.container{
    display: flex;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 3rem;
}

.star {
    color: gold;
}

.img {
    object-fit: cover;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-50 {
    width: 50%;
}
